body{
    background-color: #2b2c2c;
    font-family: 'Merriweather', serif;
}
/*****************Start Navbar************** */
nav{background-color:transparent !important;position: relative; }
nav ul{padding: 20px 30px;}
nav .nav-link{font-size:17px;margin-left: 20px;font-weight: bold; }
header .navbar-brand{
  font-weight: bold;
  position: absolute;
  top: -70px;
  left: 30px;
  color: #ff914d;
  font-size: 25px;;
 }
/*****************Start header************** */
.my-pic{
    width: 80%;
    border-radius: 50% ;
    margin-top: 50px;
    box-shadow: 1px 1px 2px 2px #fdfdfd78, -1px -1px 2px #ff914d;
}
header{padding: 50px 0;position: relative;}
header .line{border-bottom:1px solid #859fa8; position: relative; }  
header .sub-title{color: #fff; margin-top:20px;}
.info {color:  #abaaaa; margin-top:50px; }
header h1{color:#fff;font-size:50px;
  font-family: 'Krona One', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;}
header h1 .last-n{background: -webkit-linear-gradient(#f8f9fa, rgb(255 97 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
header p{font-size: 14px;}
header .data-n i{padding-right: 5px;}
header .head-right{margin-top: 70px; position:relative;}

/* *************Start Intro*********** */
.intro{
  background-color: #2e3333;
  padding: 50px 0;margin-top: 50px;}
.intro .about{color:#fff;}
section h3 , footer h3{color:#ff914d;font-weight: bold;
    background: -webkit-linear-gradient(#f8f9fa, rgb(255 97 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro .left-title{ color: #abaaaa;}
/* ********Start Edu***************** */
.edu{padding: 30px 0;margin-top: 50px;position: relative;}
.edu p,.work p{color:#fff;font-size: 14px;}
.left-line{
    width: 1%;
    height: 77%;
    background-color: #ff914d;
    position: absolute;
    left: -5px;
    top: 6%;
 }
 .edu a:hover{color: #ff914d;}
/***************Start Work*************  */

/***************Start Courses*************  */
.courses img{ width: 100%; padding:10px;  border-radius: 15%;
    display: block;
    height: auto;
  }
.courses .certi{ position: relative;}
.courses .overlay{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,.7);
    border-radius: 15%;
  }
.certi:hover .overlay {opacity: 1; }
.courses .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}
 .courses .text a{text-decoration: none;color: #ff914d;font-weight: bold;}
 .courses button{background-color: transparent !important; margin-top:30px;border: none; }
.courses{padding: 50px 0;margin-top: 50px;position: relative;}
.courses h3{margin-left: 16px; margin-bottom: 35px;}
.courses .first-row{padding-bottom: 10px;}

/* *********************** Start Skills **********************/
.soft-skils{padding: 70px 0;background-color: #2b2c2c;position: relative;}
.soft-skils .progress-bar{background-color: #ff914d !important;}
.soft-skils .progress{background-color: #9f9c96 !important; margin-bottom: 40px; height: .5rem !important; border-radius: 0% !important;}
.soft-skils p{color: #fff; font-size: 12px; margin-bottom: 2px;}
.soft-skils span{color: #ff914d; font-size: 12px; font-weight: bold; padding-right: 5px;}
.soft-skils .lang{margin-top: 30px;}
/* **********************Special skills********************* */
.special{padding: 70px 0; background-color: #2b2c2c;} 
.special p{color:#fff;font-size: 14px; }
.special i{font-size: 22px; color:#9f9c96; margin-right: 10px;}
.icon{display: flex;}
/* ***********************Start Footer********************* */
footer{padding: 40px 20px 0 0;border-bottom: #2b2c2c solid 1px;background-color: #000;}
footer p{color: #9f9c96;font-size: 16px;}
footer .socail-media a{text-decoration: none;}
footer .socail-media i{color: #fff;font-size: 30px; margin-left: 50px;}
footer .socail-media i.whats,footer .socail-media i.fa-linkedin{color: #9f9c96;}
footer .website a{color: #9f9c96;text-decoration: none;font-size: 16px;}
footer .website i{color: #fff;font-size: 18px;margin-right: 5px;}
.copy-right{background-color: #000;padding: 7px 0;}
.copy-right p{color: #fff;}
footer .socail-media i:hover{color: #ff914d;}

/*Start Scroll To Top*/
#scroll-top{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 5px;
	bottom: 10px;
	z-index: 99999;
	display: none;
	cursor: pointer;
}
#scroll-top i{font-size: 25px;color: #fff;}


.port{background-color: #2e3333;}

.port img{width:50%; margin-bottom: 20px;border-radius: 10%;transition: all ease-in-out 1s;}
.port .image{position: relative;opacity: 1;cursor: pointer;}
.port .image:hover img{opacity: 0.4;}
.port button{background-color: transparent;padding: 5px 20px;border:none;
     border:2px solid #ff914d;position: absolute;top: 37%;left: 36%;opacity: 0;transition: all ease-in-out 1s;}
.port button a{text-decoration: none;color: #fff;}
.port .image:hover button{opacity: 1;}